/**
 * Colors
 */
$primary-color:			#b21f24;
$primary-color-light: 	#d53327;
$rainbow-colors:		#ffae00, #fc7100, #e51c5e, #ae0f8d, #33227a, #0c8fcc;
$rainbow-colors2: 		#615f7d, #0c8fcc;
$black: 				#212121;
$gray-light: 			#eeeeee;
$gray:					#d7d7d7;
$blue-dark: 			#3b4954;
$blue-darker: 			#1f2a32;

$text-color: 			$black;
$text-color-lighter: 	$blue-dark;
$highlight-color:		$primary-color;

/**
 * Sizing
 */
$spacing-extra-small: 	8px;
$spacing-small: 		16px;
$spacing-normal: 		30px;
$spacing-large:			60px;
$spacing-extra-large:	100px;