.packages-list {
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	.package {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include breakpoint(576, min) {
			height: 350px;
		}
		@include breakpoint(992, min) {
			height: 400px;
		}
		&:nth-child(1), &:nth-child(2) {
			flex: 0 1 22.5%;
			@include breakpoint(991, max) {
				flex: 0 1 50%;
			}
			@include breakpoint(575, max) {
				flex: 0 0 100%;
			}
		}
		&:nth-child(3), &:nth-child(4) {
			flex: 0 1 27.5%;
			@include breakpoint(991, max) {
				flex: 0 1 50%;
			}
			@include breakpoint(575, max) {
				flex: 0 0 100%;
			}
		}
		img {
			width: 100%;
		}
		&.intro-1 {
			background-image: url('../images/img-1-min.jpg');
		}
		&.intro-2 {
			background-image: url('../images/img-3-min.jpg');
		}
		&.intro-3 {
			flex: 0 1 45%;
			background-image: url('../images/img-4-min.jpg');
			background-position: right center;
			@include breakpoint(991,max) {
				flex: 0 1 50%;
			}
			@include breakpoint(576, max) {
				flex: 0 0 100%;
			}
		}
		&.intro-4 {
			background-image: url('../images/img-5-min.jpg');
		}
		.package-detail {
			height: 100%;
			padding: 15px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			&.purple {
				background: nth($rainbow-colors2, 1);
			}
			&.blue {
				background: nth($rainbow-colors2, 2);
			}
			h4 {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
			}
			p {
				margin-bottom: 5px;
				font-weight: 300;
			}
			@include breakpoint(767, max) {
				padding: 30px 10px;
			}
		}
		.package-combo {
			height: 100%;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding: 50px 10px;
			&.package-1 {
				background-image: url('../images/img-2-min.jpg');
				.btn {
					background: nth($rainbow-colors2, 1);
				}
			}
			&.package-2 {
				background-image: url('../images/img-4-min.jpg');
				.btn {
					background: nth($rainbow-colors2, 2);
				}
			}
			p {
				margin-bottom: $spacing-small;
				.text-big {
					font-size: 22px;
				}
			}
			.btn {
				padding: 8px 12px;
				color: #fff;
				@extend .transition;
				&:hover {
					box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.1);
				}
			}
		}
	}
}