.list-media
{
     > .row > div
    {
        &:not(:last-child)
        {
            margin-bottom: $spacing-normal;
        }
    }
    .media
    {
        h5
        {
            font-size: 16px;
            font-weight: 500;

            margin-bottom: $spacing-small;

            color: $text-color;

            @include breakpoint(768, min)
            {
                font-size: 20px;
            }
        }
        img
        {
            width: 40px;
            margin-right: 15px;

            @include breakpoint(768, min)
            {
                margin-right: 30px;
            }
        }
    }
}

.ss-about
{
    .list-media
    {
        margin: $spacing-normal 0;
    }
}
