.post
{
    margin-bottom: $spacing-normal;

    text-align: center;
    .post-thumb
    {
        display: flex;

        height: 150px;

        justify-content: center;
        align-items: center;
    }
    .tuky
    {
        margin-top: -28px;
    }
}
