.ss-teacher
{
    background: $gray-light;
    .ss-teacher-thumb
    {
        width: 130px;
        margin-bottom: $spacing-normal;

        border: solid 5px $primary-color-light;

        @include breakpoint(768, min)
        {
            width: 178px;
        }
    }
}

.slick-slide
{
    outline: none !important;
}

.ss-timeline
{
    position: relative;
    z-index: 0;

    text-align: center;

    color: $primary-color;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: 118px;
        left: 0;

        width: 100%;
        height: 3px;

        content: '';

        background: $primary-color;
    }
    .ss-timeline-period
    {
        padding: 10px;
        .period-text-top
        {
            height: 70px;
            margin-bottom: $spacing-large;
        }
        .period-text-bottom
        {
            position: relative;

            margin-bottom: 0;
            &::before
            {
                position: absolute;
                top: -32px;
                right: 0;
                left: 0;

                width: 22px;
                height: 22px;
                margin: 0 auto;

                content: '';

                border-radius: 50%;
                background: $primary-color;
            }
        }
    }
}
