a {
	color: $highlight-color;
}
.reset-ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.transition {
	transition: all 0.3s ease-in-out;
}

/**
 * Section style
 */
.ss-padding {
	padding-top: $spacing-large;
	padding-bottom: $spacing-large;
}

/**
 * Button
 */
.btn {
	@extend .transition;
	font-weight: 300;
	border-radius: 0;
	padding: 10px 24px;
	text-transform: uppercase;
	cursor: pointer;
}
.btn-primary-outline {
	border: solid 1px $primary-color;
	color: $primary-color;
	background: transparent;
	text-transform: uppercase;
	&:hover, &:focus{
		background: $primary-color !important;
		color: #fff;
	}
}
.btn-primary {
	background: $primary-color;
	border: none;
	&:hover, &:focus {
		background: $primary-color-light;
	}
}